@import '../scss-helpers/fonts.scss';
@import '../scss-helpers/colors.scss';

@keyframes shake {
  0%,
  100% {
    transform: translatex(0);
  }

  25% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes textfadein {
  0% {
    color: black;
  }

  0% {
    color: transparent;
  }

  100% {
    color: black;
  }
}

@keyframes textfadeinwhite {
  0% {
    color: white;
  }

  0% {
    color: transparent;
  }

  100% {
    color: white;
  }
}

.solvedBounce {
  animation-fill-mode: forwards;
  animation: bounce ease-in 0.3s 1;
}

.mistakeShake {
  animation: shake ease-in 0.2s 1.5;
}

.shuffle {
  animation: textfadein 1s;
}

.shuffleSelected {
  animation: textfadeinwhite 1s;
}

.label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  font-weight: $weight-bold;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

// if inner input has focus, add focus outline on wrapping label
label:has(input:focus-visible) {
  outline: 2px solid $outlineBlue;
}

.disabled {
  cursor: unset;
}

.shrinkCard {
  transition: all 0.3s ease-in-out;
  transform: scale(0.9);
}

.labelXSm {
  font-size: 10.5px;
}

.labelSm {
  font-size: 11.5px;
}

.labelMd {
  font-size: 12px;
}

.labelLg {
  font-size: 15px;
}

.labelXLg {
  font-size: 16px;
}

.labelXXLg {
  font-size: 20px;
}

.labelXXXLg {
  font-size: 45px;
}

.bounce1 {
  @extend .solvedBounce;
}

.bounce2 {
  @extend .solvedBounce;
  animation-delay: 0.1s;
}

.bounce3 {
  @extend .solvedBounce;
  animation-delay: 0.2s;
}

.bounce4 {
  @extend .solvedBounce;
  animation-delay: 0.3s;
}
